# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Vitest coverage outputs
coverage

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# E2E artifacts
.features-gen
playwright-report
test-results
